.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    margin-bottom: 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .product-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
.product-text{
    display: flex;
}
.line-text{
    content: '';
    width: 3px;
    height: 50px;
    margin: -5px 10px 0 50px;
    background: #618967;
    transform: rotate(180deg);
}
  
  .product-card {
    flex: 0 0 auto;
    /* width: 250px; */
    /* height: 450px; */
    margin-right: 20px;
    cursor: pointer;
  }
  
  .product-image {
    position: relative;
    width: 364px;
    height: 265px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  
  .product-info {
    width: 100%;
    height: 163px;
    padding: 10px 20px;
    background: #4b4746;
    /* background: linear-gradient(90deg, #4b4746 0%, #504B4A 100%); */
    border-radius: 0 0 10px 10px;
  }
  
  .product-brand {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
  }
  
  .product-short-description {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 286px;
    position: relative;
    padding: px;
    padding: 10px 0px;
    line-height: 17px;
    color: #cfcfcfad;
  }
  
  .price {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: qp;
    color: #FFFFFF;
    margin: 25px 0;
  }
  
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 1vw;
    background: none;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
  }
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

  .arrow-2 {
    cursor: pointer;
    height: 120px;
    width: 80px;
    position: relative;
    margin: 20px;
}
.arrow-2-top, 
.arrow-2-bottom {
    background: #2d2b2bcc;
    height: 10px;
    left: -30px;
    position: absolute;
    top: 60px;
    width: 30px;
}
.arrow-2-top {
    top: 64px;
}
.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
.arrow-2-top::after, 
.arrow-2-bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}
.arrow-2-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}
.arrow-2-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}
.arrow-2:hover .arrow-2-top::after {
    left: 0;
    transition-delay: 0.15s;
}
.arrow-2:hover .arrow-2-bottom::after {
    right: 0;
    transition-delay: 0s;
}



.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .noselect {
      width: 150px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
      background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
      border-radius: 10px;
  }
  .ws{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    color: #fff;
    display: flex;
    margin-left: 270px;
    margin-top: -20px;
  }
  .actual-price{
    position: relative;
    margin-left: 174px;
    margin-top: -63px;
  }
  .actual-price a{
    text-decoration: none;
  }
  button, button div {
      transition: 200ms;
  }
  
  button .text {
      transform: translateX(20px);
      color: white;
      font-weight: bold;
  }
  
  button .icon {
    border-left: 1px solid #ffffff;
    transform: translateX(33px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button svg {
    width: 25px;
    /* fill: #eee; */
    background: url(../images/Iconly/Buy.svg) no-repeat;
    background-size: 95%;
  }

  button:hover {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
    background: linear-gradient(114.93deg, #4b4746 5.11%, #403c3b 94%);
  }
  
  button:hover .text {
      color: transparent;
  }
  
  button:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(-40px);
  }
  
  button:focus {
      outline: none;
  }